// Place all the styles related to the Atividades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: cyan;
}

table {
    color: blue;
}

h1.titulo {
    text-shadow: 2px 3px grey;
}