%ul
	%li
		%a.active{:href => ""} Home
	%li
		%a{:href => "atividades"} Atividades
	%li
		%a{:href => "avisos"} Mural de avisos
%h2
%center
	%img{:src => "https://cdn.discordapp.com/attachments/559586799488466990/592985145246744576/unknown.png",
		:style=>"width:50%;"}
	%h2
	%h2 	O objetivo desse site é disponibilizar um mapa do IME que mostre
	%h2 todas as salas, especificando o professor, horário e aula que está
	%h2 ocorrendo naquele momento. Além disso, disponibilizar um mural de
	%h2 avisos, contendo informações relevantes para os imeanos :)