%ul
	%li
		%a.active{:href => ""} Home
	%li
		%a{:href => "atividades"} Atividades
	%li
		%a{:href => "avisos"} Mural de avisos
%h1
%h2
%center
	%img{:src => "https://cdn.discordapp.com/attachments/559586799488466990/592985145246744576/unknown.png",
		:style=>"width:70%;"}